.app {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #393e41;
  padding: 10px;
  color: #e7e5df;
}

.header input {
  width: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #e7e5df;
}

.header input:focus {
  outline: none;
}

/* do not group these rules */
.header *::-webkit-input-placeholder {
    color: #9FA4A7;
}
.header *:-moz-placeholder {
    /* FF 4-18 */
    color: #9FA4A7;
}
.header *::-moz-placeholder {
    /* FF 19+ */
    color: #9FA4A7;
}
.header *:-ms-input-placeholder {
    /* IE 10+ */
    color: #9FA4A7;
}

.header h1 {
  font-size: 200%;
  margin: 0;
  padding: 0;
}

.task-list ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-list li {
  margin: 0;
  padding: 10px;
}

.task-preview:hover {
  background-color: #44bba4;
}
