$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 30px;
$navbar-height: 70px;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #e7e5df;
}
